@media screen and (max-width: 1823px )  {
    .gumb--dodaj {
        left: 64rem;
    }
  }
  @media screen and (max-width:1723px ) {
    .gumb--dodaj {
        left: 61rem;
    }
  }
  @media screen and (max-width:1623px ) {
    .gumb--dodaj {
        left: 58rem;
    }
  }
  @media screen and (max-width:1519px ) {
    .gumb--dodaj {
        left: 55rem;
    }
  }
  @media screen and (max-width:1404px ) {
    .gumb--dodaj {
        left: 52rem; 
    }
  }  
  @media screen and (max-width:1288px ) {
    .gumb--dodaj {
        left: 49rem;
    }
  }
  @media screen and (max-width:1200px ) {
    .gumb--dodaj {
        left: 46.5rem;
    }
  }
  @media screen and (max-width:1199px ) {
    .gumb--dodaj {
        left: 56rem;
    }
  }
  @media screen and (max-width:1122px ) {
    .gumb--dodaj {
        left: 53rem;
    }
  }
  @media screen and (max-width:1036px ) {
    .gumb--dodaj {
        left: 50rem;
    }
  }
  
  @media screen and (max-width:959px ) {
    .gumb--dodaj {
        left: 53rem;
    }
  }
  @media screen and (max-width:893px ) {
    .gumb--dodaj {
        left: 50rem;
    }
  }
  @media screen and (max-width:820px ) {
    .gumb--dodaj {
        left: 46.5rem;
    }
  }
  @media screen and (max-width:736px ) {
    .gumb--dodaj {
        left: 43rem;
    }
  }
  @media screen and (max-width:653px ) {
    .gumb--dodaj {
        left: 40rem;
    }
  }
  @media screen and (max-width:609px ) {
    .gumb--dodaj {
        left: 37.5rem;
    }
  }
  @media screen and (max-width:576px ) {
    .gumb--dodaj {
        left: 36.5rem;
    }
  }
  @media screen and (max-width:567px ) {
    .gumb--dodaj {
        left: 36rem;
    }
  }
  @media screen and (max-width:550px ) {
    .gumb--dodaj {
        left: 35rem;
    }
  }
  @media screen and (max-width:521px ) {
    .gumb--dodaj {
        left: 34rem;
    }
  }
  @media screen and (max-width:508px ) {
    .gumb--dodaj {
        left: 33rem;
    }
  }
  @media screen and (max-width:485px ) {
    .gumb--dodaj {
        width: 1.5rem;
        height: 1.5rem;
        left: 32rem;
    }
  }
  @media screen and (max-width:479px ) {
    .gumb--dodaj {
        width: 1.5rem;
        height: 1.5rem;
    }
  }
  @media screen and (max-width:471px ) {
    .gumb--dodaj {
        left: 31.5rem;
    }
  }
  @media screen and (max-width:465px ) {
    .gumb--dodaj {
        left: 31rem;
    }
  }
  @media screen and (max-width:450px ) {
    .gumb--dodaj {
        left: 30rem;
    }
  }
  @media screen and (max-width:448px ) {
    .gumb--dodaj {
        left: 28rem;
    }
  }
  @media screen and (max-width:414px ) {
    .gumb--dodaj {
        left: 25rem;
    }
  }
  @media screen and (max-width:380px ) {
    .gumb--dodaj {
        left: 23.5rem;
    }
  }
  @media screen and (max-width:360px ) {
    .gumb--dodaj {
        left: 22.3rem;
    }
  }
  
  
  